<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3600">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PiFrame</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <img src="static/img/google-calendar.png" alt="google-calendar" id="c_img">
    <br>
    <h3><span id="event_date">{{ event_date }}</span></h3>
    <h3><span id="period">{{ period }}</span></h3>
    <h3><span id="event">{{ event }}</span></h3>

    <a href="/"><img src="" alt="">Home route</a>
    <a href="/weather"><img src="" alt="">weather route</a>
</body>
</html>