<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PiFrame</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <script src="static/clock.js"></script>
</head>
<body onload=display_datetime();>
    <div class="container">      
        <section class="main-content">
            <center><a href="#"><button id="view-fullscreen">D</button></a><center>
            <script>
            (function () {
                var viewFullScreen = document.getElementById("view-fullscreen");
                if (viewFullScreen) {
                    viewFullScreen.addEventListener("click", 
                    function () {
                        var docElm = document.documentElement;
                        if (docElm.requestFullscreen) {
                            docElm.requestFullscreen();
                    }
                else if (docElm.mozRequestFullScreen) {
                    docElm.mozRequestFullScreen();
                }
                else if (docElm.webkitRequestFullScreen) {
                    docElm.webkitRequestFullScreen();
                }
            }, 
            false);
        }
    })();</script>

<div id="time">
    <h1><span id="ct"></span></h1>
    <h3><span id="dt"></span></h3> 
</div>
        </section>
</div>

<a href="/calendar"><img src="" alt="">calendar route</a>
</body>
</html>