<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="3600">
    <title>PiFrame</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div id="weather">
    <img src={{ icon }} alt="ICON" id="icon"> 
    <br>
    <h4><span id="location">{{ location }}</span></h4>
    <br>
    <h2><span id="temp">{{ temp }}°C</span></h2>

    <a href="/calendar"><img src="" alt="">Calendar route</a>
    <a href="/animation"><img src="" alt="">animation route</a>
</div>
</body>
</html>