<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <meta http-equiv="refresh" content="3600">
    <title>PiFrame</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div id="weather">
    <!--<img src={{ icon }} alt="ICON" id="icon"> -->
    <br>
    <h3><span id="location">{{ location }}</span></h3>
    <h3><span id="temp">{{ temp }}°C</span></h3>

</div>

<a href="/calendar"><img src="static/img/back.png" alt="" id="back"></a>
<a href="/animation"><img src="static/img/next.png" alt="" id="next"></a>
</body>
</html>