button {
    background: transparent;
    border: none !important;
    color: #121212;
}

#body{
    overflow-x: scroll;
}

html {
    background-color: #121212;
}

h1 {
    color:white; 
    text-align:center; 
    font-size:120px;
    font-family: 'Anton', sans-serif;
    line-height: 50px;
}

h3 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    line-height: 12px;
}


}
#time{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
